<div class="bg-[#0f1125] p-10 pt-20 text-slate-100 translate-y-[-8rem]">
    <div class="flex justify-center mb-28 top-16 font-bold">
        <div class="text-sm md:text-2xl border-solid border-2 border-primary py-3">
            <span class="bg-primary text-main p-4">Subscriber:</span>
            <span class="px-2 md:px-4">
                <a class="hover:underline" href="#">Newsletter</a>,
                <a class="hover:underline" href="/feed.xml">RSS</a>
            </span>
        </div>
    </div>
    <div class="container mx-auto flex flex-col sm:flex-row">
        <div class="text-sm max-w-sm">
            <div class="bg-primary w-12 h-5 my-4"></div>
            <a class="zine-brand-bottom text-4xl font-bold" href="/">{{ site.name }}</a>
            <div class="py-6 text-lg">
                {{ site.description }}
            </div>
        </div>
        <div class="flex flex-col sm:flex-row sm:justify-around grow">
            <div class="pt-12 sm:pt-0">
                <div class="bg-primary w-5 h-5 my-4"></div>
                <div class="text-xl font-bold mb-4">Editors</div>
                <a class="my-2 block hover:underline" href="/@folyd">@Folyd</a>
                <a class="my-2 block hover:underline" href="/@lcrossman">@LCrossman</a>
                <a class="my-2 block hover:underline" href="/@macko76">@macko76</a>
                <a class="my-2 block hover:underline" href="/@zhanghandong">@zhanghandong</a>
                <a class="my-2 block hover:underline" href="/@pau1tuck">@pau1tuck</a>
                <a class="my-2 block hover:underline" href="/@mfrw">@mfrw</a>
                <a class="my-2 block hover:underline" href="/@malagant">@malagant</a>
            </div>
            <div class="pt-12 sm:pt-0">
                <div class="bg-primary w-5 h-5 my-4"></div>
                <div class="text-xl font-bold mb-4">Magazine</div>
                <a class="my-2 block hover:underline" href="/topics">All topics</a>
                <a class="my-2 block hover:underline" href="/authors">All authors</a>
            </div>
            <div class="pt-12 sm:pt-0">
                <div class="bg-primary w-5 h-5 my-4"></div>
                <div class="text-xl font-bold mb-4">More</div>
                <a class="my-2 block hover:underline" href="/about">About</a>
                <a class="my-2 block hover:underline" href="/contribution">How to contribute</a>
                <a class="my-2 block hover:underline" href="https://github.com/RustMagazine/rustmagazine">Github</a>
            </div>
        </div>
    </div>
</div>
<div class="absolute bottom-0 left-0 right-0 h-36 bg-[#0f1125]">
    <div class="text-xs text-slate-400 text-center mt-12">
        Copyright © {{ now() | date(format="%Y") }} {{ site.name }}
    </div>
</div>